:root {
    --fieldsize: 30vw;
}

.square {
    box-sizing: border-box;
    border: 2px solid black;
}

.square:hover {
    background: lightgray;
    cursor: pointer;
}

.square.active {
    pointer-events: none;
    background: red;
}

.battlefieldsize {
    width: var(--fieldsize);
    height: var(--fieldsize);
}

.bg-img-ownfield {
    background-image: url('../images/backgroundbattlefieldown.png');
    background-repeat: no-repeat;
    opacity: 0.65;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.quadrat {
    fill: rgb(137,207,240);
}


.rectangle {
    fill: rgb(137,207,240);
    stroke: darkblue;
    stroke-width: 1vw;
}


rect.placed {
    opacity: 0.5;
    pointer-events: none;
}

rect.notPlaced {
    opacity: 1;
    pointer-events: all;
}

rect.clicked {
    stroke: rgb(196, 30, 58);
    /*stroke-width: 2;
    fill: red;*/
    /*animation: pulse 1.5s infinite alternate;*/
}

rect.vertical {
    transform: rotate(90deg);
}

@keyframes pulse {
    to {
        stroke: rgb(255, 49, 49);
    }
}


svg:hover {
    cursor: pointer;
}