table {
    width: var(--field-size);
    height: var(--field-size);
    background-repeat: no-repeat;
    opacity: 0.75;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
}

td.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid rgb(0,0,0,0.75);
}

td.border {
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    font-size: medium;
}

.square-enemy:hover {
    background: lightgray;
    cursor: pointer;
}

.square-enemy.active {
    pointer-events: none;
    background: red;
}

.ship-placed {
    background-color: black;
}

.ship-hit {
    background-color: red;
    pointer-events: none;
}

.ship-missed {
    background-color: blue;
    pointer-events: none;
}

.ship-sunk {
    background-color: yellow;
    pointer-events: none;
}