@page "/ShipPlacement"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
@inject IDialogService DialogService;
@using IImage = Microsoft.Maui.Graphics.IImage;
@inherits LayoutComponentBase

<div class="container vertical" style="height:100%; width: 100%;">

	<div class="container center" style="margin-top: 1vh;">
		<h1>ShipPlacement</h1>
	</div>

	<div class="container horizontal center">
		@* Schiffeauswahl *@
		<div class="container vertical" style="width: 40vw; align-items: center">
			<div class="container fitspace" style="width: 100%; height:100%">	
				
				@foreach (var ship in _shipsToSet)
				{
					<div class="rechteck">
						@BuildSvg(ship)
					</div>
				}	

			</div>
			
			@* NavigationsButtons *@
			<div class="container horizontal" style="width:100%">
				<button class="Btn-2D" role="button" @onclick="ChangeOrientation" >Drehen&ensp;<i class="fa fa-repeat" /></button>
				<button class="Btn-2D" role="button">Reset Ship&ensp;<i class="fa fa-backward" /></button>
				<button class="Btn-2D" role="button">Reset All&ensp;<i class="fa fa-undo" /></button>
			</div>
		</div>

		@* Feld *@
		<div class="container vertical" style="width: fit-content; align-items: center; margin: 2vw; overflow: hidden;">
			<div class="bg-img-ownfield">
				<table class="battlefieldsize" style="margin-inline: auto;">
					@for (int i = 0; i < @_fieldcnt; i++)
					{
						<tr>
							@for (int j = 0; j < @_fieldcnt; j++)
							{
								int row = i;
								int col = j;

								<td class="square @(_fieldBoolArray[col,row] ? "active" : "")" @onclick="() => OnSquareClick(col,row)">
								</td>
							}
						</tr>
					}
				</table>
			</div>
			
		</div>
	</div>



	<div class="container horizontal" style="margin-inline:5vw; margin-bottom: 1vh;">
		<button class="Btn-2D" role="button" @onclick="GoToPreviousPage">Go Back To Settings</button>
		<button class="Btn-2D" role="button" @onclick="GoToNextPage">Start Placing Ships</button>
	</div>

</div>
