@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@inject GameLogicService GameService;

<div class="page">
    <CascadingValue Value="GameService">
        @Body
    </CascadingValue>
</div>
