@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@inject GameLogic Game;

<div class="page">
    <CascadingValue Value="Game">
        @Body
    </CascadingValue>
</div>
